/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 28, 2025, 10:49:11 AM
    Author     : anhkc
*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1099;
}
.close-icon{
    display: none;
}

@media (max-width:768px){
    #cus-sidebar{
        display: none;
        position: absolute;
        max-width: 50vw;
        top: 0;
        left:0;
        z-index: 1100;

    }

    .close-icon{
        display: block;
        position: absolute;
        top:5px;
        right:10px;
        font-size: 25px;
    }
}
