/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 24, 2025, 2:16:46 AM
    Author     : anhkc
*/

.bread-crumb-area{
    margin: 20px;
    color: orange;
    font-size: 13px;
}
.bread-crumb-area a{
    color:orange;
}