--If you want to set new database's name, make sure to change the the CREATE DATABASE, USE and the ALTER DATABASE at the last lines

USE [master]
GO

/*******************************************************************************
   Drop database if it exists
********************************************************************************/
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'WIBOOKS')
BEGIN
	ALTER DATABASE [WIBOOKS] SET OFFLINE WITH ROLLBACK IMMEDIATE;
	ALTER DATABASE [WIBOOKS] SET ONLINE;
	DROP DATABASE [WIBOOKS];
END

GO
/****** Object:  Database [WIBOOKS]    Script Date: 10/28/2025 2:23:27 PM ******/
CREATE DATABASE [WIBOOKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WIBOOKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WIBOOKS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WIBOOKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WIBOOKS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WIBOOKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WIBOOKS]
GO
/****** Object:  FullTextCatalog [ProductCatalog]    Script Date: 10/28/2025 2:23:27 PM ******/
CREATE FULLTEXT CATALOG [ProductCatalog] WITH ACCENT_SENSITIVITY = OFF
AS DEFAULT
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[dateAdded] [date] NOT NULL,
	[firstName] [nvarchar](255) NOT NULL,
	[lastName] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[phoneNumber] [varchar](20) NULL,
	[birthDate] [date] NULL,
	[accountIsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminID] [int] NOT NULL,
	[totalEvents] [int] NOT NULL,
	[totalVouchers] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[bookID] [int] NOT NULL,
	[publisherID] [int] NULL,
	[bookDuration] [nvarchar](40) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Genre]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Genre](
	[bookID] [int] NOT NULL,
	[genreID] [int] NOT NULL,
 CONSTRAINT [PK_Book_Genre] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC,
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brandID] [int] IDENTITY(1,1) NOT NULL,
	[brandName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[brandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[itemID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[cartItemQuantity] [int] NOT NULL,
	[cartItemPrice] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Character]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Character](
	[characterID] [int] IDENTITY(1,1) NOT NULL,
	[characterName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Character] PRIMARY KEY CLUSTERED 
(
	[characterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creator]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creator](
	[creatorID] [int] IDENTITY(1,1) NOT NULL,
	[creatorName] [nvarchar](100) NULL,
	[creatorRole] [varchar](20) NULL,
 CONSTRAINT [PK_Creator] PRIMARY KEY CLUSTERED 
(
	[creatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] NOT NULL,
	[totalPurchasePoints] [decimal](10, 0) NOT NULL,
	[defaultDeliveryAddress] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryAddress]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAddress](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[addressDetails] [nvarchar](255) NOT NULL,
	[customerID] [int] NOT NULL,
 CONSTRAINT [PK_DeliveryAddress] PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryOption]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryOption](
	[deliveryOptionID] [int] IDENTITY(1,1) NOT NULL,
	[optionName] [nvarchar](255) NOT NULL,
	[estimatedTime] [int] NOT NULL,
	[optionCost] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_DeliveryOption] PRIMARY KEY CLUSTERED 
(
	[deliveryOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dialogue]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dialogue](
	[dialogueID] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[user1ID] [int] NOT NULL,
	[user2ID] [int] NOT NULL,
	[dialogueIsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Dialogue] PRIMARY KEY CLUSTERED 
(
	[dialogueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[eventID] [int] IDENTITY(1,1) NOT NULL,
	[eventName] [nvarchar](255) NOT NULL,
	[eventDateCreated] [date] NOT NULL,
	[eventDuration] [int] NOT NULL,
	[banner] [nvarchar](512) NULL,
	[description] [nvarchar](max) NOT NULL,
	[adminID] [int] NOT NULL,
	[eventIsActive] [bit] NULL,
	[eventDateStarted] [date] NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[eventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Product]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Product](
	[eventID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[discountPercentage] [int] NULL,
 CONSTRAINT [PK_Event_Product] PRIMARY KEY CLUSTERED 
(
	[eventID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[genreID] [int] IDENTITY(1,1) NOT NULL,
	[genreName] [nvarchar](30) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportItem]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportItem](
	[importItemID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[supplierID] [int] NULL,
	[importPrice] [decimal](10, 0) NULL,
	[importQuantity] [int] NULL,
	[importDate] [date] NOT NULL,
	[isImported] [bit] NULL,
 CONSTRAINT [PK_ImportItem] PRIMARY KEY CLUSTERED 
(
	[importItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchandise]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchandise](
	[merchandiseID] [int] NOT NULL,
	[seriesID] [int] NULL,
	[characterID] [int] NULL,
	[brandID] [int] NULL,
	[size] [nvarchar](60) NULL,
	[scaleLevel] [varchar](10) NULL,
	[material] [nvarchar](60) NULL,
 CONSTRAINT [PK_Merchandise] PRIMARY KEY CLUSTERED 
(
	[merchandiseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[senderID] [int] NOT NULL,
	[receiverID] [int] NOT NULL,
	[messageContent] [nvarchar](max) NOT NULL,
	[sentAt] [datetime] NOT NULL,
	[senderDeleted] [bit] NOT NULL,
	[receiverDeleted] [bit] NOT NULL,
	[dialogueID] [int] NOT NULL,
	[isSeen] [bit] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationID] [int] IDENTITY(1,1) NOT NULL,
	[senderID] [int] NOT NULL,
	[receiverID] [int] NOT NULL,
	[notificationDetails] [nvarchar](max) NOT NULL,
	[notificationDateCreated] [date] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[notificationTitle] [nvarchar](100) NOT NULL,
	[isRead] [bit] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[notificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Product]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Product](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[orderProductQuantity] [int] NOT NULL,
	[orderProductPrice] [decimal](10, 0) NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order_Product] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NOT NULL,
	[deliveryAddress] [nvarchar](255) NOT NULL,
	[deliveryOptionID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[finalAmount] [decimal](10, 0) NOT NULL,
	[voucherID] [int] NULL,
	[staffID] [int] NULL,
	[shipperID] [int] NULL,
	[deliveryStatus] [varchar](10) NOT NULL,
	[orderStatus] [varchar](10) NOT NULL,
	[adminID] [int] NULL,
	[deliveredAt] [datetime] NULL,
	[paymentMethod] [varchar](10) NULL,
	[paymentExpiredTime] [int] NULL,
	[paymentStatus] [varchar](10) NULL,
	[vnpTxnRef] [varchar](50) NULL,
	[vnpTransactionNo] [varchar](50) NULL,
	[vnpTransactionDate] [varchar](14) NULL,
	[vnpTransactionStatus] [varchar](10) NULL,
 CONSTRAINT [PK_OrderInfo] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](255) NOT NULL,
	[price] [decimal](10, 0) NOT NULL,
	[stockCount] [int] NOT NULL,
	[categoryID] [int] NULL,
	[description] [nvarchar](max) NOT NULL,
	[releaseDate] [date] NULL,
	[lastModifiedTime] [datetime] NULL,
	[averageRating] [decimal](2, 1) NOT NULL,
	[numberOfRating] [int] NOT NULL,
	[specialFilter] [varchar](20) NULL,
	[adminID] [int] NULL,
	[keywords] [nvarchar](max) NULL,
	[generalCategory] [varchar](10) NULL,
	[productIsActive] [bit] NOT NULL,
	[imageURL] [nvarchar](512) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Creator]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Creator](
	[productID] [int] NOT NULL,
	[creatorID] [int] NOT NULL,
 CONSTRAINT [PK_Product_Creator] PRIMARY KEY CLUSTERED 
(
	[productID] ASC,
	[creatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Supplier]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Supplier](
	[productID] [int] NOT NULL,
	[supplierID] [int] NOT NULL,
	[defaultImportPrice] [decimal](10, 0) NULL,
	[minImportQuant] [int] NULL,
	[maxImportQuant] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC,
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[publisherID] [int] IDENTITY(1,1) NOT NULL,
	[publisherName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[publisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleHistory]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleHistory](
	[saleID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[soldQuantity] [int] NOT NULL,
	[saleDate] [date] NOT NULL,
 CONSTRAINT [PK_SaleHistory] PRIMARY KEY CLUSTERED 
(
	[saleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[seriesID] [int] IDENTITY(1,1) NOT NULL,
	[seriesName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Series] PRIMARY KEY CLUSTERED 
(
	[seriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[shipperID] [int] NOT NULL,
	[totalDeliveries] [int] NOT NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[shipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staffID] [int] NOT NULL,
	[totalOrders] [int] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierID] [int] IDENTITY(1,1) NOT NULL,
	[supplierName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[voucherID] [int] IDENTITY(1,1) NOT NULL,
	[voucherName] [nvarchar](255) NOT NULL,
	[voucherValue] [decimal](10, 0) NOT NULL,
	[voucherQuantity] [int] NOT NULL,
	[minimumPurchaseAmount] [int] NOT NULL,
	[voucherDateCreated] [date] NOT NULL,
	[voucherDuration] [int] NOT NULL,
	[adminID] [int] NOT NULL,
	[voucherIsActive] [bit] NOT NULL,
	[voucherType] [nvarchar](20) NULL,
	[maxDiscountAmount] [decimal](10, 2) NULL,
	[voucherDateStarted] [date] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[voucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountID], [username], [password], [role], [dateAdded], [firstName], [lastName], [email], [phoneNumber], [birthDate], [accountIsActive]) VALUES (1, N'anhkct', N'85A354F44B7CE2B9EB1B8292C920D9A2', N'admin', CAST(N'2025-02-18' AS Date), N'Kien An', N'Huynh', N'anhk.ce191266@gmail.com', N'0384417960', CAST(N'1999-11-01' AS Date), 1)
INSERT [dbo].[Account] ([accountID], [username], [password], [role], [dateAdded], [firstName], [lastName], [email], [phoneNumber], [birthDate], [accountIsActive]) VALUES (2, N'anhkct_cus', N'85A354F44B7CE2B9EB1B8292C920D9A2', N'customer', CAST(N'2025-02-20' AS Date), N'Kien An zz', N'Huynh', N'anhkct123@gmail.com', N'0995593293', CAST(N'1999-11-01' AS Date), 1)
INSERT [dbo].[Account] ([accountID], [username], [password], [role], [dateAdded], [firstName], [lastName], [email], [phoneNumber], [birthDate], [accountIsActive]) VALUES (4, N'anhkct_2', N'85A354F44B7CE2B9EB1B8292C920D9A2', N'staff', CAST(N'2025-02-24' AS Date), N'thanh', N'tien', N'nhox_kute9x@yahoo.com', N'0995593293', CAST(N'2025-01-30' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Admin] ([adminID], [totalEvents], [totalVouchers]) VALUES (1, 5, 30)
GO
INSERT [dbo].[Book] ([bookID], [publisherID], [bookDuration]) VALUES (1, 1, N'267 pages')
INSERT [dbo].[Book] ([bookID], [publisherID], [bookDuration]) VALUES (2, 1, N'125 pages')
INSERT [dbo].[Book] ([bookID], [publisherID], [bookDuration]) VALUES (3, 1, N'149 pages')
GO
INSERT [dbo].[Book_Genre] ([bookID], [genreID]) VALUES (1, 8)
INSERT [dbo].[Book_Genre] ([bookID], [genreID]) VALUES (1, 11)
INSERT [dbo].[Book_Genre] ([bookID], [genreID]) VALUES (2, 8)
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brandID], [brandName]) VALUES (1, N'Max Factory')
INSERT [dbo].[Brand] ([brandID], [brandName]) VALUES (12, N'Good Smile Company')
INSERT [dbo].[Brand] ([brandID], [brandName]) VALUES (13, N'Claynel')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([itemID], [customerID], [productID], [cartItemQuantity], [cartItemPrice]) VALUES (181, 22, 22, 1, CAST(1180 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (1, N'Light Novel')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (2, N'Manga')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (3, N'Figure')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Character] ON 

INSERT [dbo].[Character] ([characterID], [characterName]) VALUES (1, N'Hoshimachi Suisei')
INSERT [dbo].[Character] ([characterID], [characterName]) VALUES (5, N'Sakura Miko')
INSERT [dbo].[Character] ([characterID], [characterName]) VALUES (9, N'Ninomae Ina''nis')
SET IDENTITY_INSERT [dbo].[Character] OFF
GO
SET IDENTITY_INSERT [dbo].[Creator] ON 

INSERT [dbo].[Creator] ([creatorID], [creatorName], [creatorRole]) VALUES (113, N'_Gallun', N'artist')
INSERT [dbo].[Creator] ([creatorID], [creatorName], [creatorRole]) VALUES (109, N'180m/h', N'artist')
INSERT [dbo].[Creator] ([creatorID], [creatorName], [creatorRole]) VALUES (128, N'abec', N'artist')
SET IDENTITY_INSERT [dbo].[Creator] OFF
GO
INSERT [dbo].[Customer] ([customerID], [totalPurchasePoints], [defaultDeliveryAddress]) VALUES (2, CAST(6225520 AS Decimal(10, 0)), N'72 Mau Than - Phuong Xuan Khanh - Quan Ninh Kieu - TP Can Tho')
INSERT [dbo].[Customer] ([customerID], [totalPurchasePoints], [defaultDeliveryAddress]) VALUES (5, CAST(888888 AS Decimal(10, 0)), N'67 Tran Hoang Na - Phuong Hung Loi - Quan Ninh Kieu - TP Can Tho')
INSERT [dbo].[Customer] ([customerID], [totalPurchasePoints], [defaultDeliveryAddress]) VALUES (6, CAST(777777 AS Decimal(10, 0)), N'50 Hoa Binh - Phuong Xuan Khanh - Quan Ninh Kieu - TP Can Tho')
GO
SET IDENTITY_INSERT [dbo].[DeliveryAddress] ON 

INSERT [dbo].[DeliveryAddress] ([addressID], [addressDetails], [customerID]) VALUES (3, N'50 Nguyen Van Cu - Phuong An Khanh - Quan Ninh Kieu - TP Can Tho', 17)
INSERT [dbo].[DeliveryAddress] ([addressID], [addressDetails], [customerID]) VALUES (4, N'23 Nguyen Tri Phuong - Phuong An Khanh - Quan Ninh Kieu - TP Can Tho', 18)
INSERT [dbo].[DeliveryAddress] ([addressID], [addressDetails], [customerID]) VALUES (5, N'50 Nguyen Viet Hong - Phuong An Phu- Quan Ninh Kieu - TP Can Tho', 19)
SET IDENTITY_INSERT [dbo].[DeliveryAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryOption] ON 

INSERT [dbo].[DeliveryOption] ([deliveryOptionID], [optionName], [estimatedTime], [optionCost]) VALUES (1, N'Express Delivery', 1, CAST(50000 AS Decimal(10, 0)))
INSERT [dbo].[DeliveryOption] ([deliveryOptionID], [optionName], [estimatedTime], [optionCost]) VALUES (2, N'Economy Delivery', 3, CAST(20000 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[DeliveryOption] OFF
GO
SET IDENTITY_INSERT [dbo].[Dialogue] ON 

INSERT [dbo].[Dialogue] ([dialogueID], [createdAt], [user1ID], [user2ID], [dialogueIsActive]) VALUES (1, CAST(N'2025-03-08T15:26:08.410' AS DateTime), 6, 1, 1)
INSERT [dbo].[Dialogue] ([dialogueID], [createdAt], [user1ID], [user2ID], [dialogueIsActive]) VALUES (2, CAST(N'2025-03-08T15:29:29.160' AS DateTime), 5, 1, 1)
INSERT [dbo].[Dialogue] ([dialogueID], [createdAt], [user1ID], [user2ID], [dialogueIsActive]) VALUES (3, CAST(N'2025-03-28T00:01:52.467' AS DateTime), 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Dialogue] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([eventID], [eventName], [eventDateCreated], [eventDuration], [banner], [description], [adminID], [eventIsActive], [eventDateStarted]) VALUES (3, N'NEW PRODUCTS', CAST(N'2025-02-27' AS Date), 15, N'img/banner_event/NewProdutcs.png', N'SALE UP TO 35% FOR NEW RELEASES!', 1, 0, CAST(N'2025-03-28' AS Date))
INSERT [dbo].[Event] ([eventID], [eventName], [eventDateCreated], [eventDuration], [banner], [description], [adminID], [eventIsActive], [eventDateStarted]) VALUES (4, N'SALE ALL BOOKS', CAST(N'2025-02-26' AS Date), 60, N'img/banner_event/SaleAllBooks.png', N'SALE ALL BOOKS FOR ORDER FROM 50K!', 1, 1, CAST(N'2025-02-27' AS Date))
INSERT [dbo].[Event] ([eventID], [eventName], [eventDateCreated], [eventDuration], [banner], [description], [adminID], [eventIsActive], [eventDateStarted]) VALUES (5, N'SALE UP TO 25%', CAST(N'2025-02-25' AS Date), 60, N'img/banner_event/Sale35.jpg', N'SALE UP TO 35%!', 1, 1, CAST(N'2025-02-26' AS Date))
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
INSERT [dbo].[Event_Product] ([eventID], [productID], [discountPercentage]) VALUES (4, 11, 20)
INSERT [dbo].[Event_Product] ([eventID], [productID], [discountPercentage]) VALUES (4, 12, 20)
INSERT [dbo].[Event_Product] ([eventID], [productID], [discountPercentage]) VALUES (4, 15, 20)
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([genreID], [genreName]) VALUES (1, N'Ẩm thực')
INSERT [dbo].[Genre] ([genreID], [genreName]) VALUES (2, N'Chính kịch')
INSERT [dbo].[Genre] ([genreID], [genreName]) VALUES (3, N'Đời sống thường ngày')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportItem] ON 

INSERT [dbo].[ImportItem] ([importItemID], [productID], [supplierID], [importPrice], [importQuantity], [importDate], [isImported]) VALUES (1, 1, 1, CAST(75000 AS Decimal(10, 0)), 25, CAST(N'2024-08-19' AS Date), 0)
INSERT [dbo].[ImportItem] ([importItemID], [productID], [supplierID], [importPrice], [importQuantity], [importDate], [isImported]) VALUES (2, 1, 2, CAST(70000 AS Decimal(10, 0)), 20, CAST(N'2024-08-19' AS Date), 0)
INSERT [dbo].[ImportItem] ([importItemID], [productID], [supplierID], [importPrice], [importQuantity], [importDate], [isImported]) VALUES (3, 1, 3, CAST(80000 AS Decimal(10, 0)), 15, CAST(N'2024-08-19' AS Date), 0)
GO
SET IDENTITY_INSERT [dbo].[ImportItem] OFF
GO
INSERT [dbo].[Merchandise] ([merchandiseID], [seriesID], [characterID], [brandID], [size], [scaleLevel], [material]) VALUES (107, 1, 1, 1, N'Approx. H145mm', N'Non-scale', N'Plastic')
INSERT [dbo].[Merchandise] ([merchandiseID], [seriesID], [characterID], [brandID], [size], [scaleLevel], [material]) VALUES (159, 1, 5, 1, N'H100mm', N'Non-scale', N'Plastic')
INSERT [dbo].[Merchandise] ([merchandiseID], [seriesID], [characterID], [brandID], [size], [scaleLevel], [material]) VALUES (160, 1, 9, 1, N'Main Figure Approx. H150mm, Tentacles Approx. H190mm', N'Non-scale', N'Plastic')
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([messageID], [senderID], [receiverID], [messageContent], [sentAt], [senderDeleted], [receiverDeleted], [dialogueID], [isSeen]) VALUES (1, 6, 1, N'24hours', CAST(N'2025-03-08T15:26:08.430' AS DateTime), 0, 0, 1, 1)
INSERT [dbo].[Message] ([messageID], [senderID], [receiverID], [messageContent], [sentAt], [senderDeleted], [receiverDeleted], [dialogueID], [isSeen]) VALUES (2, 1, 6, N'cinderella', CAST(N'2025-03-08T15:27:05.730' AS DateTime), 0, 0, 1, 1)
INSERT [dbo].[Message] ([messageID], [senderID], [receiverID], [messageContent], [sentAt], [senderDeleted], [receiverDeleted], [dialogueID], [isSeen]) VALUES (3, 6, 1, N'sunao ni i rabu u', CAST(N'2025-03-08T15:27:26.143' AS DateTime), 0, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notificationID], [senderID], [receiverID], [notificationDetails], [notificationDateCreated], [isDeleted], [notificationTitle], [isRead]) VALUES (3, 1, 2, N'Hello World', CAST(N'2025-03-02' AS Date), 1, N'TTTTT', 1)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[Order_Product] ([orderID], [productID], [orderProductQuantity], [orderProductPrice], [rating], [comment]) VALUES (1, 7, 4, CAST(120000 AS Decimal(10, 0)), NULL, NULL)
INSERT [dbo].[Order_Product] ([orderID], [productID], [orderProductQuantity], [orderProductPrice], [rating], [comment]) VALUES (1, 12, 1, CAST(101000 AS Decimal(10, 0)), NULL, NULL)
INSERT [dbo].[Order_Product] ([orderID], [productID], [orderProductQuantity], [orderProductPrice], [rating], [comment]) VALUES (1, 28, 1, CAST(97000 AS Decimal(10, 0)), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[OrderInfo] ON 

INSERT [dbo].[OrderInfo] ([orderID], [orderDate], [deliveryAddress], [deliveryOptionID], [customerID], [finalAmount], [voucherID], [staffID], [shipperID], [deliveryStatus], [orderStatus], [adminID], [deliveredAt], [paymentMethod], [paymentExpiredTime], [paymentStatus], [vnpTxnRef], [vnpTransactionNo], [vnpTransactionDate], [vnpTransactionStatus]) VALUES (1, CAST(N'2025-02-25' AS Date), N'fhg', 1, 2, CAST(728000 AS Decimal(10, 0)), NULL, NULL, 7, N'delivered', N'completed', NULL, CAST(N'2025-02-24T22:04:51.597' AS DateTime), N'cod', 0, N'paid', NULL, NULL, NULL, NULL)
INSERT [dbo].[OrderInfo] ([orderID], [orderDate], [deliveryAddress], [deliveryOptionID], [customerID], [finalAmount], [voucherID], [staffID], [shipperID], [deliveryStatus], [orderStatus], [adminID], [deliveredAt], [paymentMethod], [paymentExpiredTime], [paymentStatus], [vnpTxnRef], [vnpTransactionNo], [vnpTransactionDate], [vnpTransactionStatus]) VALUES (2, CAST(N'2025-02-25' AS Date), N'asd', 1, 2, CAST(368000 AS Decimal(10, 0)), NULL, NULL, 7, N'delivered', N'completed', NULL, CAST(N'2025-02-24T22:04:51.597' AS DateTime), N'cod', 0, N'paid', NULL, NULL, NULL, NULL)
INSERT [dbo].[OrderInfo] ([orderID], [orderDate], [deliveryAddress], [deliveryOptionID], [customerID], [finalAmount], [voucherID], [staffID], [shipperID], [deliveryStatus], [orderStatus], [adminID], [deliveredAt], [paymentMethod], [paymentExpiredTime], [paymentStatus], [vnpTxnRef], [vnpTransactionNo], [vnpTransactionDate], [vnpTransactionStatus]) VALUES (3, CAST(N'2025-02-25' AS Date), N'fgh', 1, 2, CAST(164000 AS Decimal(10, 0)), NULL, NULL, 7, N'delivered', N'completed', NULL, CAST(N'2025-02-24T22:04:51.597' AS DateTime), N'cod', 0, N'paid', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_Creator] ([productID], [creatorID]) VALUES (1, 22)
INSERT [dbo].[Product_Creator] ([productID], [creatorID]) VALUES (2, 6)
INSERT [dbo].[Product_Creator] ([productID], [creatorID]) VALUES (3, 14)
GO
INSERT [dbo].[Product_Supplier] ([productID], [supplierID], [defaultImportPrice], [minImportQuant], [maxImportQuant]) VALUES (1, 1, CAST(75000 AS Decimal(10, 0)), 12, 50)
INSERT [dbo].[Product_Supplier] ([productID], [supplierID], [defaultImportPrice], [minImportQuant], [maxImportQuant]) VALUES (1, 2, CAST(70000 AS Decimal(10, 0)), 10, 40)
INSERT [dbo].[Product_Supplier] ([productID], [supplierID], [defaultImportPrice], [minImportQuant], [maxImportQuant]) VALUES (1, 3, CAST(80000 AS Decimal(10, 0)), 7, 30)
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([publisherID], [publisherName]) VALUES (1, N'NXB Hong Duc')
INSERT [dbo].[Publisher] ([publisherID], [publisherName]) VALUES (2, N'NXB Van Hoc')
INSERT [dbo].[Publisher] ([publisherID], [publisherName]) VALUES (3, N'NXB Tre')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleHistory] ON 

INSERT [dbo].[SaleHistory] ([saleID], [productID], [soldQuantity], [saleDate]) VALUES (1, 7, 4, CAST(N'2025-02-25' AS Date))
INSERT [dbo].[SaleHistory] ([saleID], [productID], [soldQuantity], [saleDate]) VALUES (2, 12, 1, CAST(N'2025-02-25' AS Date))
INSERT [dbo].[SaleHistory] ([saleID], [productID], [soldQuantity], [saleDate]) VALUES (3, 15, 1, CAST(N'2025-02-25' AS Date))
SET IDENTITY_INSERT [dbo].[SaleHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Series] ON 

INSERT [dbo].[Series] ([seriesID], [seriesName]) VALUES (1, N'hololive')
INSERT [dbo].[Series] ([seriesID], [seriesName]) VALUES (13, N'Genshin Impact')
INSERT [dbo].[Series] ([seriesID], [seriesName]) VALUES (14, N'Sword Art Online')
SET IDENTITY_INSERT [dbo].[Series] OFF
GO
INSERT [dbo].[Shipper] ([shipperID], [totalDeliveries]) VALUES (7, 18)
GO
INSERT [dbo].[Staff] ([staffID], [totalOrders]) VALUES (4, 12)
INSERT [dbo].[Staff] ([staffID], [totalOrders]) VALUES (20, 0)
INSERT [dbo].[Staff] ([staffID], [totalOrders]) VALUES (21, 0)
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([supplierID], [supplierName]) VALUES (1, N'Good Smile Company')
INSERT [dbo].[Supplier] ([supplierID], [supplierName]) VALUES (2, N'Fandom Fusion Distributors')
INSERT [dbo].[Supplier] ([supplierID], [supplierName]) VALUES (3, N'Animate Global')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([voucherID], [voucherName], [voucherValue], [voucherQuantity], [minimumPurchaseAmount], [voucherDateCreated], [voucherDuration], [adminID], [voucherIsActive], [voucherType], [maxDiscountAmount], [voucherDateStarted]) VALUES (2, N'Discount 50K for orders from 500K', CAST(50000 AS Decimal(10, 0)), 98, 55000, CAST(N'2025-02-24' AS Date), 96, 1, 0, N'FIXED_AMOUNT', NULL, CAST(N'2025-03-29' AS Date))
INSERT [dbo].[Voucher] ([voucherID], [voucherName], [voucherValue], [voucherQuantity], [minimumPurchaseAmount], [voucherDateCreated], [voucherDuration], [adminID], [voucherIsActive], [voucherType], [maxDiscountAmount], [voucherDateStarted]) VALUES (3, N'Discount 20K for orders from 200K', CAST(20000 AS Decimal(10, 0)), 200, 200000, CAST(N'2025-02-24' AS Date), 15, 1, 1, N'FIXED_AMOUNT', NULL, CAST(N'2025-03-01' AS Date))
INSERT [dbo].[Voucher] ([voucherID], [voucherName], [voucherValue], [voucherQuantity], [minimumPurchaseAmount], [voucherDateCreated], [voucherDuration], [adminID], [voucherIsActive], [voucherType], [maxDiscountAmount], [voucherDateStarted]) VALUES (4, N'Discount 100K for orders from 1 million', CAST(100000 AS Decimal(10, 0)), 50, 1000000, CAST(N'2025-02-24' AS Date), 45, 1, 1, N'FIXED_AMOUNT', NULL, CAST(N'2025-03-01' AS Date))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E6164B3E980E5]    Script Date: 10/28/2025 2:23:27 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CustomerProduct]    Script Date: 10/28/2025 2:23:27 PM ******/
ALTER TABLE [dbo].[CartItem] ADD  CONSTRAINT [UQ_CustomerProduct] UNIQUE NONCLUSTERED 
(
	[customerID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Creator_Name_Role]    Script Date: 10/28/2025 2:23:27 PM ******/
ALTER TABLE [dbo].[Creator] ADD  CONSTRAINT [UQ_Creator_Name_Role] UNIQUE NONCLUSTERED 
(
	[creatorName] ASC,
	[creatorRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_product_creator_creator]    Script Date: 10/28/2025 2:23:27 PM ******/
CREATE NONCLUSTERED INDEX [idx_product_creator_creator] ON [dbo].[Product_Creator]
(
	[creatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_product_creator_product]    Script Date: 10/28/2025 2:23:27 PM ******/
CREATE NONCLUSTERED INDEX [idx_product_creator_product] ON [dbo].[Product_Creator]
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_product_per_date]    Script Date: 10/28/2025 2:23:27 PM ******/
ALTER TABLE [dbo].[SaleHistory] ADD  CONSTRAINT [UQ_product_per_date] UNIQUE NONCLUSTERED 
(
	[productID] ASC,
	[saleDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  FullTextIndex     Script Date: 10/28/2025 2:23:27 PM ******/
CREATE FULLTEXT INDEX ON [dbo].[Brand](
[brandName] LANGUAGE 'English')
KEY INDEX [PK_Brand]ON ([ProductCatalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = OFF)

GO
/****** Object:  FullTextIndex     Script Date: 10/28/2025 2:23:27 PM ******/
CREATE FULLTEXT INDEX ON [dbo].[Character](
[characterName] LANGUAGE 'English')
KEY INDEX [PK_Character]ON ([ProductCatalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = OFF)

GO
/****** Object:  FullTextIndex     Script Date: 10/28/2025 2:23:27 PM ******/
CREATE FULLTEXT INDEX ON [dbo].[Creator](
[creatorName] LANGUAGE 'English')
KEY INDEX [PK_Creator]ON ([ProductCatalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = OFF)

GO
/****** Object:  FullTextIndex     Script Date: 10/28/2025 2:23:27 PM ******/
CREATE FULLTEXT INDEX ON [dbo].[Product](
[keywords] LANGUAGE 'English')
KEY INDEX [PK_Product]ON ([ProductCatalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = OFF)

GO
/****** Object:  FullTextIndex     Script Date: 10/28/2025 2:23:27 PM ******/
CREATE FULLTEXT INDEX ON [dbo].[Publisher](
[publisherName] LANGUAGE 'English')
KEY INDEX [PK_Publisher]ON ([ProductCatalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = OFF)

GO
/****** Object:  FullTextIndex     Script Date: 10/28/2025 2:23:27 PM ******/
CREATE FULLTEXT INDEX ON [dbo].[Series](
[seriesName] LANGUAGE 'English')
KEY INDEX [PK_Series]ON ([ProductCatalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = OFF)

GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [accountIsActive]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((0)) FOR [totalEvents]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((0)) FOR [totalVouchers]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [totalPurchasePoints]
GO
ALTER TABLE [dbo].[Dialogue] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Dialogue] ADD  DEFAULT ((1)) FOR [dialogueIsActive]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT (getdate()) FOR [eventDateCreated]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_isActive]  DEFAULT ((1)) FOR [eventIsActive]
GO
ALTER TABLE [dbo].[ImportItem] ADD  DEFAULT (getdate()) FOR [importDate]
GO
ALTER TABLE [dbo].[ImportItem] ADD  DEFAULT ((0)) FOR [isImported]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT (getdate()) FOR [sentAt]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [senderDeleted]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [receiverDeleted]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [isSeen]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [notificationDateCreated]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('No Title') FOR [notificationTitle]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[OrderInfo] ADD  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_lastModifiedTime]  DEFAULT (getdate()) FOR [lastModifiedTime]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [averageRating]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [numberOfRating]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [productIsActive]
GO
ALTER TABLE [dbo].[Shipper] ADD  DEFAULT ((0)) FOR [totalDeliveries]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((0)) FOR [totalOrders]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [voucherQuantity]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (getdate()) FOR [voucherDateCreated]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [voucherIsActive]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([publisherID])
REFERENCES [dbo].[Publisher] ([publisherID])
GO
ALTER TABLE [dbo].[Book_Genre]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Book_Genre]  WITH CHECK ADD FOREIGN KEY([genreID])
REFERENCES [dbo].[Genre] ([genreID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[DeliveryAddress]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[Admin] ([adminID])
GO
ALTER TABLE [dbo].[Event_Product]  WITH CHECK ADD FOREIGN KEY([eventID])
REFERENCES [dbo].[Event] ([eventID])
GO
ALTER TABLE [dbo].[Event_Product]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[ImportItem]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([productID], [supplierID])
REFERENCES [dbo].[Product_Supplier] ([productID], [supplierID])
GO
ALTER TABLE [dbo].[ImportItem] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[Merchandise]  WITH CHECK ADD FOREIGN KEY([brandID])
REFERENCES [dbo].[Brand] ([brandID])
GO
ALTER TABLE [dbo].[Merchandise]  WITH CHECK ADD FOREIGN KEY([characterID])
REFERENCES [dbo].[Character] ([characterID])
GO
ALTER TABLE [dbo].[Merchandise]  WITH CHECK ADD FOREIGN KEY([merchandiseID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Merchandise]  WITH CHECK ADD FOREIGN KEY([seriesID])
REFERENCES [dbo].[Series] ([seriesID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([dialogueID])
REFERENCES [dbo].[Dialogue] ([dialogueID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([receiverID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([senderID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([receiverID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([senderID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[OrderInfo] ([orderID])
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[Admin] ([adminID])
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([deliveryOptionID])
REFERENCES [dbo].[DeliveryOption] ([deliveryOptionID])
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([shipperID])
REFERENCES [dbo].[Shipper] ([shipperID])
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff] ([staffID])
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD FOREIGN KEY([voucherID])
REFERENCES [dbo].[Voucher] ([voucherID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[Admin] ([adminID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Product_Creator]  WITH CHECK ADD FOREIGN KEY([creatorID])
REFERENCES [dbo].[Creator] ([creatorID])
GO
ALTER TABLE [dbo].[Product_Creator]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Product_Supplier]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Product_Supplier]  WITH CHECK ADD FOREIGN KEY([supplierID])
REFERENCES [dbo].[Supplier] ([supplierID])
GO
ALTER TABLE [dbo].[SaleHistory]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD FOREIGN KEY([shipperID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[Admin] ([adminID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='shipper' OR [role]='staff' OR [role]='customer' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Event_Product]  WITH CHECK ADD CHECK  (([discountPercentage]>(0) AND [discountPercentage]<(100)))
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD CHECK  (([deliveryStatus]='delivered' OR [deliveryStatus]='shipped' OR [deliveryStatus]='pending'))
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD CHECK  (([orderStatus]='delivered' OR [orderStatus]='pending' OR [orderStatus]='paid' OR [orderStatus]='shipped' OR [orderStatus]='completed' OR [orderStatus]='canceled' OR [orderStatus]='refunded' OR [orderStatus]='deleted' OR [orderStatus] IS NULL))
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD CHECK  (([paymentMethod]='online' OR [paymentMethod]='cod'))
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD CHECK  (([paymentStatus]='expired' OR [paymentStatus]='paid' OR [paymentStatus]='pending'))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([voucherType]='FIXED_AMOUNT' OR [voucherType]='PERCENTAGE'))
GO
/****** Object:  Trigger [dbo].[trg_InsertIntoChildrenOfAccount]    Script Date: 10/28/2025 2:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_InsertIntoChildrenOfAccount]
ON [dbo].[Account]
AFTER INSERT
AS
BEGIN
    
    INSERT INTO Admin (adminID)
    SELECT accountID
    FROM INSERTED
    WHERE role = 'admin';
	
	INSERT INTO Shipper (shipperID)
    SELECT accountID
    FROM INSERTED
    WHERE role = 'shipper';
	
	INSERT INTO Staff (staffID)
    SELECT accountID
    FROM INSERTED
    WHERE role = 'staff';
    
END;
GO
ALTER TABLE [dbo].[Account] ENABLE TRIGGER [trg_InsertIntoChildrenOfAccount]
GO
/****** Object:  Trigger [dbo].[trig_updateTotalEventsAdmin]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trig_updateTotalEventsAdmin]
ON [dbo].[Event]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ad
    SET ad.totalEvents = (
        SELECT COUNT(*) 
        FROM [Event] e 
        WHERE e.adminID = ad.adminID
		AND e.adminID IS NOT NULL
    )
    FROM Admin ad
    WHERE ad.adminID IN (
        SELECT i.adminID 
        FROM inserted i 
        WHERE i.adminID IS NOT NULL
    );
END;
GO
ALTER TABLE [dbo].[Event] ENABLE TRIGGER [trig_updateTotalEventsAdmin]
GO
/****** Object:  Trigger [dbo].[trg_UpdateProductRating]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateProductRating]
ON [dbo].[Order_Product]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Update averageRating and numberOfRating for affected products
    UPDATE p
    SET p.numberOfRating = COALESCE(ratingData.numRatings, 0),
        p.averageRating = COALESCE(ratingData.avgRating, 0)
    FROM Product p
    JOIN (
        SELECT op.productID,
               COUNT(op.rating) AS numRatings,
               CAST(SUM(op.rating * 1.0) / COUNT(op.rating) AS DECIMAL(2,1)) AS avgRating
        FROM Order_Product op
        WHERE op.rating IS NOT NULL
        GROUP BY op.productID
    ) AS ratingData
    ON p.productID = ratingData.productID;
END;
GO
ALTER TABLE [dbo].[Order_Product] ENABLE TRIGGER [trg_UpdateProductRating]
GO
/****** Object:  Trigger [dbo].[trg_AutoInsertOrUpdateSaleHistory]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_AutoInsertOrUpdateSaleHistory]
ON [dbo].[OrderInfo]
after update
AS
BEGIN
    --Check if there is an update of orderStatus from non-completed to completed
    IF EXISTS (SELECT 1
               FROM inserted i join deleted d on i.orderID = d.orderID
               where i.orderStatus = 'delivered' and d.orderStatus <> 'delivered')
    BEGIN
		--Update an entry in SaleHistory if productID and saleDate are already recorded
       update s
	   set s.soldQuantity = s.soldQuantity + totalSoldQuant
	   from SaleHistory s
	   join 
	   ( select op.productID, i.orderDate, sum(op.orderProductQuantity ) as totalSoldQuant
	   from Order_Product op 
	   join inserted i on i.orderID = op.orderID
	   join deleted d on d.orderID = i.orderID
	   where i.orderStatus = 'delivered' and d.orderStatus <> 'delivered'
	   group by op.productID, i.orderDate
	   ) dot on s.productID = dot.productID and s.saleDate = dot.orderDate

		--Insert a new entry in SaleHistory if productID and saleDate is not recorded yet
	   insert into SaleHistory(productID,saleDate,soldQuantity)
	   select op.productID, i.orderDate, sum(op.orderProductQuantity )
	   from Order_Product op 
	   join inserted i on i.orderID = op.orderID
	   join deleted d on d.orderID = i.orderID
	   left join SaleHistory s on s.productID = op.productID and s.saleDate = i.orderDate
	   where i.orderStatus = 'delivered' and d.orderStatus <> 'delivered' and s.productID is NULL
	   group by op.productID, i.orderDate
    END

END;


GO
ALTER TABLE [dbo].[OrderInfo] ENABLE TRIGGER [trg_AutoInsertOrUpdateSaleHistory]
GO
/****** Object:  Trigger [dbo].[trg_UpdateDeliveredAt]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_UpdateDeliveredAt]
ON [dbo].[OrderInfo]
AFTER UPDATE
AS
BEGIN
    -- Check if the shippingStatus was changed from 'shipped' to 'delivered'
    IF EXISTS (SELECT 1
               FROM inserted i
               JOIN deleted d ON i.orderID = d.orderID
               WHERE i.deliveryStatus = 'delivered' AND d.deliveryStatus = 'shipped')
    BEGIN
        -- Update the deliveredAt field with the current timestamp
        UPDATE o
        SET o.deliveredAt = GETDATE()
        FROM OrderInfo o
        INNER JOIN inserted i ON o.orderID = i.orderID
        WHERE i.deliveryStatus = 'delivered';
    END
END;
GO
ALTER TABLE [dbo].[OrderInfo] ENABLE TRIGGER [trg_UpdateDeliveredAt]
GO
/****** Object:  Trigger [dbo].[trg_UpdateOrderStatusPayment]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    TRIGGER [dbo].[trg_UpdateOrderStatusPayment]
ON [dbo].[OrderInfo]
AFTER UPDATE
AS
BEGIN
    -- Check if paymentStatus was changed from 'pending' to 'paid'
    IF EXISTS (SELECT 1
               FROM inserted i
               JOIN deleted d ON i.orderID = d.orderID
               WHERE i.paymentStatus = 'paid' AND d.paymentStatus = 'pending')
    BEGIN
        -- Update the orderStatus to 'paid'
        UPDATE o
        SET o.orderStatus = 'paid',
		o.orderDate = GETDATE()
        FROM OrderInfo o
        INNER JOIN inserted i ON o.orderID = i.orderID
		JOIN deleted d ON i.orderID = d.orderID
        WHERE i.paymentStatus = 'paid' AND d.paymentStatus = 'pending' AND o.orderStatus <> 'completed' AND o.paymentMethod <> 'cod';
    END
END;
GO
ALTER TABLE [dbo].[OrderInfo] ENABLE TRIGGER [trg_UpdateOrderStatusPayment]
GO
/****** Object:  Trigger [dbo].[trg_UpdateOrderStatusShipping]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    TRIGGER [dbo].[trg_UpdateOrderStatusShipping]
ON [dbo].[OrderInfo]
AFTER UPDATE
AS
BEGIN
	SET NOCOUNT ON;

    -- Check if deliveryStatus was changed from 'pending' to 'shipped'
    IF EXISTS (SELECT 1
               FROM inserted i
               JOIN deleted d ON i.orderID = d.orderID
               WHERE i.deliveryStatus = 'shipped' AND d.deliveryStatus = 'pending')
    BEGIN
        -- Update the orderStatus to 'shipped'
        UPDATE o
        SET o.orderStatus = 'shipped'
        FROM OrderInfo o
        INNER JOIN inserted i ON o.orderID = i.orderID
        INNER JOIN deleted d ON d.orderID = i.orderID
        WHERE i.deliveryStatus = 'shipped' AND d.deliveryStatus = 'pending' AND o.orderStatus <> 'shipped';
    END

	 -- Check if deliveryStatus was changed from 'shipped' to 'delivered'
    IF EXISTS (SELECT 1
               FROM inserted i
               JOIN deleted d ON i.orderID = d.orderID
               WHERE i.deliveryStatus = 'delivered' AND d.deliveryStatus = 'shipped')
    BEGIN
        -- Update the orderStatus to 'delivered'
        UPDATE o
        SET o.orderStatus = 'delivered'
        FROM OrderInfo o
        INNER JOIN inserted i ON o.orderID = i.orderID
        INNER JOIN deleted d ON d.orderID = i.orderID
        WHERE i.deliveryStatus = 'delivered' AND d.deliveryStatus = 'shipped' AND o.orderStatus <> 'delivered';
    END
END;
GO
ALTER TABLE [dbo].[OrderInfo] ENABLE TRIGGER [trg_UpdateOrderStatusShipping]
GO
/****** Object:  Trigger [dbo].[trg_UpdatePaymentStatusPaidCOD]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    TRIGGER [dbo].[trg_UpdatePaymentStatusPaidCOD]
ON [dbo].[OrderInfo]
AFTER UPDATE
AS
BEGIN
    -- Check if orderStatus was changed from not 'completed' to 'completed'
    IF EXISTS (SELECT 1
               FROM inserted i
               JOIN deleted d ON i.orderID = d.orderID
               WHERE i.orderStatus = 'completed' AND d.orderStatus <> 'completed')
    BEGIN
        -- Update the paymentStatus to 'paid'
        UPDATE o
        SET o.paymentStatus = 'paid'
        FROM OrderInfo o
        INNER JOIN inserted i ON o.orderID = i.orderID
		JOIN deleted d ON d.orderID = i.orderID
        WHERE i.orderStatus = 'completed' AND d.orderStatus <> 'completed' AND o.paymentMethod = 'cod';
    END
END;
GO
ALTER TABLE [dbo].[OrderInfo] ENABLE TRIGGER [trg_UpdatePaymentStatusPaidCOD]
GO
/****** Object:  Trigger [dbo].[trig_updateTotalOrdersStaff]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trig_updateTotalOrdersStaff]
ON [dbo].[OrderInfo]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(staffID)
    BEGIN
        IF EXISTS (
            SELECT 1 
            FROM inserted i
            JOIN deleted d ON i.orderID = d.orderID
            WHERE i.staffID != d.staffID 
               OR (i.staffID IS NULL AND d.staffID IS NOT NULL)
               OR (i.staffID IS NOT NULL AND d.staffID IS NULL)
        )
        BEGIN
            UPDATE st
            SET st.totalOrders = (
                SELECT COUNT(*) 
                FROM OrderInfo oi 
                WHERE oi.staffID = st.staffID
				AND oi.staffID is not null
            )
            FROM Staff st
            WHERE st.staffID IN (
                SELECT staffID FROM inserted WHERE staffID IS NOT NULL
                UNION
                SELECT staffID FROM deleted WHERE staffID IS NOT NULL
            );
        END
    END
END;
GO
ALTER TABLE [dbo].[OrderInfo] ENABLE TRIGGER [trig_updateTotalOrdersStaff]
GO
/****** Object:  Trigger [dbo].[trig_updateTotalPurchasePointsCustomer]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trig_updateTotalPurchasePointsCustomer]
ON [dbo].[OrderInfo]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(orderStatus)
    BEGIN
        IF EXISTS (
            SELECT 1 
            FROM inserted i
            JOIN deleted d ON i.orderID = d.orderID
            WHERE i.orderStatus = 'completed' and d.orderStatus = 'delivered'
        )
        BEGIN
            UPDATE cus
            SET cus.totalPurchasePoints = (
                SELECT SUM(finalAmount) 
                FROM OrderInfo oi 
                WHERE oi.customerID = cus.customerID
				AND oi.customerID is not null
            )
            FROM Customer cus
            WHERE cus.customerID IN (
                SELECT i.customerID 
				FROM inserted i 
				JOIN deleted d 
					ON d.orderID = i.orderID
				WHERE i.customerID IS NOT NULL
            );
        END
    END
END;
GO
ALTER TABLE [dbo].[OrderInfo] ENABLE TRIGGER [trig_updateTotalPurchasePointsCustomer]
GO
/****** Object:  Trigger [dbo].[trg_InsertIntoChildrenOfProduct]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_InsertIntoChildrenOfProduct]
ON [dbo].[Product]
AFTER INSERT
AS
BEGIN
    -- Insert into Book 
    INSERT INTO Book (bookID)
    SELECT productID
    FROM INSERTED
    WHERE generalCategory = 'book';

    -- Insert into Merchandise 
    INSERT INTO Merchandise (merchandiseID)
    SELECT productID
    FROM INSERTED
    WHERE generalCategory = 'merch';
END;
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_InsertIntoChildrenOfProduct]
GO
/****** Object:  Trigger [dbo].[trg_UpdateLastModifiedTime]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_UpdateLastModifiedTime]
ON [dbo].[Product]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Product
    SET lastModifiedTime = GETDATE()
    FROM Product
    INNER JOIN inserted i ON Product.productID = i.productID;
END;
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_UpdateLastModifiedTime]
GO
/****** Object:  Trigger [dbo].[trig_updateTotalVouchersAdmin]    Script Date: 10/28/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trig_updateTotalVouchersAdmin]
ON [dbo].[Voucher]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ad
    SET ad.totalVouchers = (
        SELECT COUNT(*) 
        FROM [Voucher] v
        WHERE v.adminID = ad.adminID
		AND v.adminID IS NOT NULL
    )
    FROM Admin ad
    WHERE ad.adminID IN (
        SELECT i.adminID 
        FROM inserted i 
        WHERE i.adminID IS NOT NULL
    );
END;
GO
ALTER TABLE [dbo].[Voucher] ENABLE TRIGGER [trig_updateTotalVouchersAdmin]
GO
USE [master]
GO
